<section class="search">
	<div class="container">
		<h2 class="search-title">
			What are you looking for?
		</h2>
		<ul class="search-category search-category__city">
			<li class="city city__selected">
				Dubai
			</li>
			<li class="city">
				Kyiv
			</li>
		</ul>
		<ul class="search-category search-category__type">
			<li class="type type__selected">
				Education
			</li>
			<li class="type">
				Entertainment
			</li>
			<li class="type">
				Reality
			</li>
			<li class="type">
				Mobility
			</li>
		</ul>
		<input type="text" class="search-category search-input" placeholder="Keyword, name, date, ...">
		<button class="button button-rounded button__search">
			Search
		</button>
	</div>
</section>