<!-- block location -->

<div class="post location post--home">
	<figure class="post-img location__post-img">
		<i class="post-icon icon-home location__post-icon"></i>
		<span class="button--rounded price">
			$2,990
		</span>
	</figure>
	<div class="panel location__panel">
		<h5 class="location__title">
			2 bedroom house for rent in Dubai
		</h5>
		<h4 class="location__host">
			Vision Agency
		</h4>
		<div class="rating location__rating">
			<span class="icon-star"></span>
			<span class="icon-star"></span>
			<span class="icon-star"></span>
			<span class="icon-star"></span>
			<span class="icon-star-o"></span>
		</div>
		<span class="rating-votes">(365)</span>
	</div>
</div>

<div class="post location post--music">
	<figure class="post-img location__post-img">
		<i class="post-icon icon-music location__post-icon"></i>
	</figure>
	<div class="panel location__panel">
		<h5 class="location__title">
			Beach party festival 2014
		</h5>
		<h4 class="location__host">
			Long beach
		</h4>
		<div class="rating location__rating">
			<span class="icon-star"></span>
			<span class="icon-star"></span>
			<span class="icon-star"></span>
			<span class="icon-star"></span>
			<span class="icon-star"></span>
		</div>
		<span class="rating-votes">(365)</span>
	</div>
</div>