<div class="nav navbar">
	<div class="container">
		<ul class="navbar__popular">
			<li class="popular__category popular__category--selected">
				<a href="#">
					Recommended
				</a>
			</li>
			<li class="popular__category">
				<a href="#">
					latest
				</a>
			</li>
			<li class="popular__category">
				<a href="#">
					Highlights
				</a>
			</li>
		</ul> 
		<div class="navbar__location">
			<ul class="select navbar__select button--rounded">
				<li class="select__city select__city--selected js-select" data-value="Your city">
					Your city
				</li>
				<li class="select__city" data-value="Kyiv">
					Kyiv
				</li>
				<li class="select__city" data-value="Kyiv">
					Kyiv
				</li>
				<li class="select__city" data-value="Dubai">
					Dubai
				</li>
			</ul>
			<button class="button button--rounded button--map">
				Show map
			</button>
		</div>
		<div class="navbar__filter">
			<h5 class="filter__title">
				Filter:
			</h5>
			<ul>
				<li>
					<a href="#" class="filter__item icon-home" data-category="reality">
					</a>
				</li>
				<li>
					<a href="#" class="filter__item icon-child" data-category="Living">
					</a>
				</li>
				<li>
					<a href="#" class="filter__item icon-graduation-cap" data-category="Education">
					</a>
				</li>
				<li>
					<a href="#" class="filter__item icon-music" data-category="Entertainment">
					</a>
				</li>
				<li>
					<a href="#" class="filter__item icon-bus" data-category="Mobility">
					</a>
				</li>
			</ul>
		</div>
		<i class="icon-equalizer navbar__button"></i>
	</div>
</div>