<div class="nav navbar">
	<div class="container">
		<ul class="popular">
			<li class="popular-item popular-item__selected">
				<a href="#">
					Recommended
				</a>
			</li>
			<li class="popular-item">
				<a href="#">
					latest
				</a>
			</li>
			<li class="popular-item">
				<a href="#">
					Highlights
				</a>
			</li>
		</ul>
		<div class="navbar--locations">
			<ul class="search-locations button--rounded select">
				<li class="navbar__location location__selected">
					Dubai
				</li>
				<li class="navbar__location">
					Kyiv
				</li>
			</ul>
			<button class="button button--rounded button__map">
				Show map
			</button>
		</div>
		<div class="filter">
			<h5 class="filter-title">
				Filter:
			</h5>
			<ul>
				<li class="filter--item icon-home button-circular">
					<a href="#" hidden>
						Reality
					</a>
				</li>
				<li class="filter--item icon-child button-circular">
					<a href="#" hidden>
						Living
					</a>
				</li>
				<li class="filter--item icon-graduation-cap button-circular">
					<a href="#" hidden>
						Education
					</a>
				</li>
				<li class="filter--item icon-music button-circular">
					<a href="#" hidden>
						Entertainment
					</a>
				</li>
				<li class="filter--item icon-bus button-circular">
					<a href="#" hidden>
						Mobility
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>