<div class="offer">
	<h3 class="offer__title">
		What can DuHoot offer to you?
	</h3>
	<p class="offer__caption">
		Etiam cursus ipsum quis enim faucibus
	</p>
	<ul class="offer__icons">
		<i class="offer-icon icon-home icon--selected"></i>
		<i class="offer-icon icon-child"></i>
		<i class="offer-icon icon-graduation-cap"></i>
		<i class="offer-icon icon-music"></i>
		<i class="offer-icon icon-bus"></i>
	</ul>
	<h4 class="offer__title offer__title--green">
		Reality
	</h4>
	<p class="offer__text offer__text--flash">
		Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi gravida tellus in purus pharetra, vel dignissim mauris viverra. Maecenas vitae risus est. In hendrerit, massa at.
	</p>
	<p class="offer__text offer__text--leaf">
		Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi gravida tellus in purus pharetra, vel dignissim mauris viverra. Maecenas vitae risus est. In hendrerit, massa at.
	</p>
</div>