<!-- block review -->
<div class="col col-lr-2">
	<div class="post review post--bus">
		<figure class="post-img review__post-img">
			<i class="post-icon icon-bus review__post-icon"></i>
			<div class="review__title-group">
				<h4 class="review__host">
					Vision agency
				</h4>
				<div class="rating review__rating">
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star-o"></span>
				</div>
				<span class="rating-votes">(1165)</span>
			</div>	
		</figure>
		<div class="panel review__panel">
			<figure class="user-img review__user-img">
				
			</figure>
			<div class="rating user-rating review__user-rating">
				<span class="icon-star"></span>
				<span class="icon-star"></span>
				<span class="icon-star"></span>
				<span class="icon-star-o"></span>
				<span class="icon-star-o"></span>
			</div>
			<h5 class="user-name">
				Lucy-P
			</h5>
			<p class="user-comment">
				“Aliquam quis pulvinar purus. Etiam cursus ipsum quis enim faucibus, quis posuere orci ornare. Duis mattis sagittis fringilla.” 
				<a href="#" class="link"><b>...read more</b></a>
			</p>
		</div>
	</div>
</div>