<section class="search">
	<div class="container">
		<h2 class="search__title">
			What are you looking for?
		</h2>
		<div class="search-group">
			<ul class="input select search__category search__category--city">
				<li class="city city--selected">
					Dubai
				</li>
				<li class="city">
					Kyiv
				</li>
				<li class="city">
					Kyiv
				</li>
				<li class="city">
					Kyiv
				</li>
			</ul>
			<ul class="input select search__category search__category--type">
				<li class="type type--selected">
					Education
				</li>
				<li class="type">
					Entertainment
				</li>
				<li class="type">
					Reality
				</li>
				<li class="type">
					Mobility
				</li>
			</ul>
			<input type="text" class="input search__input" placeholder="Keyword, name, date, ...">
			<button class="button--primary search__button">
				Search
			</button>
		</div>
	</div>
</section>