<section class="search">
	<div class="container">
		<h2 class="search__title">
			What are you looking for?
		</h2>
		<div class="search-group">
			<ul class="input select search__category search__category--city">
				<li class="city city--selected js-select" data-value="Select city">
					Select city
				</li>
				<li class="city" data-value="Dubai">
					Dubai
				</li>
				<li class="city" data-value="Kyiv">
					Kyiv
				</li>
				<li class="city" data-value="Kyiv">
					Kyiv
				</li>
			</ul>
			<ul class="input select search__category search__category--type">
				<li class="type type--selected js-select" data-value="Select category">
					Select category
				</li>
				<li class="type" data-value="Entertainment">
					Entertainment
				</li>
				<li class="type" data-value="Reality">
					Reality
				</li>
				<li class="type" data-value="Mobility">
					Mobility
				</li>
			</ul>
			<input type="text" class="input search__input" placeholder="Keyword, name, date, ...">
			<button class="button--primary search__button">
				Search
			</button>
		</div>
	</div>
</section>