<footer class="footer">
	<div class="container">
		<form name="subscribe-form" class="form subscribe-form" action="" method="get">
            <h1 class="subscribe__title">
            	Subscribe to our newsletter
            </h1>
            <div class="input subscribe__content">
        	   <lable for="email" class="subscribe__label">
					<i class="icon-envelope-o" aria-hidden="true"></i>
					<input name="email" 
                	   type="text"
                	   id="email"
                	   class="subscribe__input" 
                	   placeholder="your@email.com" 
        	   		/>
				</lable>
    	   		<button type="" class="button button--primary subscribe__button">
        			Subscribe
        		</button>
			</div>
		</form>
	</div>
</footer>