<footer class="footer">
	<div class="container">
		<form name="subscribe-form" class="form subscribe-form" action="" method="get">
            <h1 class="subscribe__title">
            	Subscribe to our newsletter
            </h1>
            <div class="input subscribe__content">
        	   <lable for="email" class="subscribe__label">
					<!-- <i class="icon-envelope-o" aria-hidden="true"></i> -->
					<input name="email" 
                	   type="text"
                	   id="email"
                	   class="subscribe__input" 
                	   placeholder="your@email.com" 
        	   		/>
				</lable>
    	   		<button type="" class="button button--primary subscribe__button">
        			Subscribe
        		</button>
			</div>
		</form>
        <div class="footer__info">
            <div class="footer__block">
                <h5 class="footer__title">
                    Ipsum quis
                </h5>
                <ul class="footer__list">
                    <li>
                        Aliquam quis
                    </li>
                    <li>
                        Pulvinar purus
                    </li>
                    <li>
                        Etiam cursus
                    </li>
                    <li>
                        Ipsum quis
                    </li>
                    <li>
                        Enim faucibus
                    </li>
                </ul>
            </div>
            <div class="footer__block">
                <h5 class="footer__title">
                    Ipsum quis
                </h5>
                <ul class="footer__list">
                    <li>
                        Aliquam quis
                    </li>
                    <li>
                        Pulvinar purus
                    </li>
                    <li>
                        Etiam cursus
                    </li>
                    <li>
                        Ipsum quis
                    </li>
                    <li>
                        Enim faucibus
                    </li>
                </ul>
            </div>
            <div class="footer__block footer__block--social">
                <h5 class="footer__title">
                    Follow us
                </h5>
                <ul class="footer__social">
                    <li>
                        <a href="#" class="icon-facebook"></a>
                    </li>
                    <li>
                        <a href="#" class="icon-twitter"></a>
                    </li>
                    <li>
                        <a href="#" class="icon-google-plus"></a>
                    </li>
                    <li>
                        <a href="#" class="icon-youtube"></a>
                    </li>
                </ul>
                <p class="copyright">
                    Copyright &copy; All Rights reserved
                </p>
            </div>
        </div>
	</div>
</footer>