<header class="header">
	<a href="#" class="logo">
		<img src="../images/logo.png" alt="">
	</a>
	<nav class="nav header__nav">
	<!-- <nav class="nav header__nav header__nav--open"> -->
		<a href="#" class="nav__item">
			Reality
		</a>
		<a href="#" class="nav__item">
			Living
		</a>
		<a href="#" class="nav__item">
			Education
		</a>
		<a href="#" class="nav__item">
			Entertainment
		</a>
		<a href="#" class="nav__item">
			Mobility
		</a>
	</nav>
	<a href="" class="header__button header__button--search">
		
	</a>
	<a href="" class="header__button header__button--login">
		<span>Login</span>
	</a>
</header>