<header class="header">
	<a href="#" class="logo">
		<img src="../images/logo.png" alt="">
	</a>
	<nav class="nav header-nav">
		<a href="#" class="header-nav--item">
			Reality
		</a>
		<a href="#" class="header-nav--item">
			Living
		</a>
		<a href="#" class="header-nav--item">
			Education
		</a>
		<a href="#" class="header-nav--item">
			Entertainment
		</a>
		<a href="#" class="header-nav--item">
			Mobility
		</a>
	</nav>
	<a href="" class="header--button header--button__search">
		
	</a>
	<a href="" class="header--button header--button__user">
		Login
	</a>
</header>