.block {
    display: inline-block;
    padding: 18px;
    font-size: 0;
    box-sizing: border-box;
    vertical-align: top;
    &--home {
        .location-img {
            background-image: url(../images/appart-bg-1.png);
            border-bottom: 3px solid $green;
        }
        .location-host {
            color: $green;
        }
    }
    &--music {
        .location-img {
            background-image: url(../images/appart-bg-2.png);
            border-bottom: 3px solid $orange;
        }
        .location-host {
            color: $orange;
        }
    }
    &--bus {
        .location-img {
            background-image: url(../images/appart-bg-2.png);
            border-bottom: 3px solid $purple;
        }
        .location-host {
            color: $purple;
        }
    }
}
.block-location {
    width: 25%;
    font: $base-font;
}
.icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
    margin-bottom: -30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color: $white;
    z-index: 2;
}
.icon-home {
    
}
.price {
    background-color: $green;
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 12px;
    color: $white;
    padding: 7px 12px;
}
.location-img {
    height: 0;
    padding-top: 67%;
    background-size: cover;
    background-position: 50%;
    position: relative;
}
.location-description {
    background-color: $white;
    padding: 33px 18px 14px;
    box-shadow: 0 1px 0 #e2dee0;
    border-radius: 2px 3px 3px 2px;
}
.location-title {
    font-size: 14px;
    color: $font;
}
.location-host {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.location-rating {}
.icon-star-o {}
.location-rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
    display: inline-block;
    
    & > .icon-star-o {
        display: inline-block;
        position: relative;
        font-size: 12px;
        color: $orange;
        
        &:hover {
            &:before, 
            ~ .icon-star-o:before {
                content: "\f005";
            }
        }
    }
}
.rating-votes {
}

.block-review {
    width: 50%;
    .location-img {
        padding-top: 26%;
    }
    .icon {
        left: 50px;
    }
}
.block--bus {}
.icon-bus {}
.button-circular {}
.review-host {
    font-size: 18px;
}
.review-rating {}
.icon-star-o {}
.rating-votes {}
.review {}
.user-rating {}
.user {}
.user-review {}