body {
	font: $base-font;
}
.wrap {}
.container {
	position: relative;
	max-width: 980px;
	margin: 0 auto;
}

.nav {
	a {
    color: $font-light;
    text-transform: uppercase;
    // line-height: 1;
    @include desktop {
	    &:hover {
	    	color: $font;
	    	}
	    }
	}
}

.main {
	background-color: $grey-lightest;
}
.main__posts {
	font-size: 0;
	padding: 10px 0 33px;
	border-bottom: 1px solid $grey-lighter;
	@include tablet {
		padding-top: 30px;
	}
	// display: flex;
	//flex-wrap: wrap;
	//align-items: stretch;
	// Change the mark-up to use flexbox layout! Remove .col
}
.col {
	padding: 4px;
	box-sizing: border-box;
	display: inline-block;
	@include tablet {
		padding: 8px 9px;
	}
	@include desktop {
		padding: 16px 18px;
	}
}
.col-lr-4 {
	width: 50%;
	@include mobile-small {
		width: 100%;
	}
	@include tablet {
		width: 25%;
	}
}
.col-lr-2 {
	width: 100%;
	@include tablet {
		width: 50%;
	}
}