// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
// @import "_bootstrap-custom";
@import "core/_reset";
@import "core/_variables";
@import "core/_mixin";

@import "_base";
@import "fonts/font";

@import "components/_button";
@import "blocks/_header";
@import "blocks/_search";
@import "blocks/_navbar";
@import "blocks/_main";
@import "blocks/_footer"
