<div class="block block-location block--home">
	<figure class="location-img">
		<i class="icon icon-home button-circular"></i>
		<span class="button-rounded price">
			$2,990
		</span>
	</figure>
	<div class="location-description">
		<h5 class="location-title">
			2 bedroom house for rent in Dubai
		</h5>
		<h4 class="location-host">
			Vision Agency
		</h4>
		<div class="location-rating">
			<span class="icon-star-o"></span>
			<span class="icon-star-o"></span>
			<span class="icon-star-o"></span>
			<span class="icon-star-o"></span>
			<span class="icon-star-o"></span>
		</div>
		<span class="rating-votes">(365)</span>
	</div>
</div>
<div class="block block-location block--music">
	<figure class="location-img">
		<i class="icon icon-music button-circular"></i>
	</figure>
	<div class="location-description">
		<h5 class="location-title">
			Beach party festival 2014
		</h5>
		<h4 class="location-host">
			Long beach
		</h4>
		<div class="location-rating">
			<span class="icon-star-o"></span>
			<span class="icon-star-o"></span>
			<span class="icon-star-o"></span>
			<span class="icon-star-o"></span>
			<span class="icon-star-o"></span>
		</div>
		<span class="rating-votes">(1165)</span>
	</div>
</div>