
<div class="block block-review block--bus">
	<figure class="location-img">
		<i class="icon icon-bus button-circular"></i>
		<h4 class="review-host">
			Long beach
		</h4>
		<div class="review-rating">
			<span class="icon-star-o"></span>
			<span class="icon-star-o"></span>
			<span class="icon-star-o"></span>
			<span class="icon-star-o"></span>
			<span class="icon-star-o"></span>
		</div>
		<span class="rating-votes">(1165)</span>
	</figure>
	<div class="review">
		<div class="user-rating">
			<span class="icon-star-o"></span>
			<span class="icon-star-o"></span>
			<span class="icon-star-o"></span>
			<span class="icon-star-o"></span>
			<span class="icon-star-o"></span>
		</div>
		<h5 class="user">
			Lucy-P
		</h5>
		<p class="user-review">
			“Aliquam quis pulvinar purus. Etiam cursus ipsum quis enim faucibus, quis posuere orci ornare. Duis mattis sagittis fringilla.” <b>...read more</b>
		</p>
	</div>
</div>