.button {
	text-transform: uppercase;
}
.button-rounded {
	border-radius: 35px;
}

.button-circular {
    border: 3px solid $white;
    border-radius: 50%;
}
.button__search {
	color: $white;
	background-color: $brand-primary;
	padding: 25px 32px 21px;
	font-size: 18px;
    box-shadow: 0 2px 0 #c1412e;
}

//IcoMoon 
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e905";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-comments:before {
  content: "\f0e6";
}
.icon-flash:before {
  content: "\f0e7";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-graduation-cap {
	background-color: $grey-light;
	&:before {
	  	content: "\f19d";
	}
}
.icon-bus {
	background-color: $purple;
	&:before {
	  	content: "\f207";
	}
}
.icon-user:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-child {
	background-color: $grey-light;
	&:before {
	  	content: "\e900";
	}
}
.icon-music:before {
  content: "\e904";
}
.icon-home {
	background-color: $green;
	&:before {
	  	content: "\e901";
	}
}
.icon-music {
	background-color: $orange;
	&:before {
  		content: "\e904";
  	}
}