// colors

$grey-lightest: #f3f1f2;
$grey-lighter: #e2dee0;
$grey-light: #b6c0c1;
$grey: #9dacad;
$grey-dark: #96a6a7;
$grey-darker: #566375;

$white: #ffffff;
$red: #e94e38;
$orange: #f19e1f;
$green: #1baf5d;
$purple: #88499c;

$brand-primary: $red;

$font-light: $grey-dark;
$font: $grey-darker;

//fonts

$base-font: normal normal 14px/1.4 'Gotham', sans-serif;