.footer
{
    position: relative;

    padding: 56px 10px 24px;

    color: $white;
    background-image: url('../images/hero-bg.png');
    background-position: 50%;
    background-size: cover;
    @include tablet {
        padding-right: 20px;
        padding-left: 20px;
    }
    @include desktop {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 56px;
    }
    &:before
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';

        opacity: .7;
        background-color: #000;
    }
    & > *
    {
        position: relative;
        z-index: 2;
    }
}

.subscribe-form
{
    padding-bottom: 55px;

}
.subscribe__title
{
    font-size: 24px;

    margin-bottom: 37px;
}

.subscribe__content
{
    line-height: 60px;

    position: relative;
    padding-right: 130px;
    padding-left: 30px;

    width: 100%;
    max-width: 550px;
    @include tablet {
        width: 50%;
    }
}
.subscribe__label
{
    position: relative;    
    i
    {
        margin-right: 30px;
    }  
}

@media screen and (min-width: 400px) {
    .subscribe__content {
        padding-left: 68px;
    }
    .subscribe__label {
        // padding-left: 40px;
        &:before
        {
            font-family: 'IcoMoon';
            font-size: 18px;

            position: absolute;
            left: -36px;

            content: '\f003';
        }
    }
    .subscribe__input {
        width: 57%;
    }
}

.subscribe__input
{
    font-size: 18px;
    font-weight: 300;

    color: $white;
    width: 100%;
    box-sizing: border-box;
    &::-webkit-input-placeholder
    {
        color: $white;
    }
    &:-ms-input-placeholder
    {
        color: $white;
    }
}

.footer__info
{
    font-size: 0;

    padding-top: 41px;
    border-top: 1px solid #635a51;
}
.footer__block
{
    display: inline-block;
    font: $base-font;
    width: 33.33%;
    text-align: left;
    vertical-align: top;

    @include mobile {
        
        
        display: none;
        &.footer__block--social {
            display: block;
            margin: 0 auto;
            width: 100%;
            text-align: center;
        }
    }
}
.footer__title
{
    font-size: 16px;
    line-height: 1;

    display: none;

    margin-bottom: 25px;

    border-bottom: 1px solid #635a51;
    @include tablet {
        display: inline-block;
    }
    
}
.footer__list
{
    line-height: 1.7;
}
.footer__social
{
    margin-bottom: 30px;
    @include desktop {
        margin-bottom: 60px;
    }
    li
    {
        display: inline-block;

        margin: 0 10px;
        @include tablet {
            margin: 0 20px 0 0;
        }
    }
    a
    {
        font-size: 30px;
        @include desktop {
            &:hover
            {
                color: $brand-primary;
            }
        }
    }
}
