.search {
	background-image: url("../images/hero-bg.png");
	background-size: cover;
	background-position: 50%;
	color: $white;
	position: relative;
	padding: 58px 0 40px;
	&:before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #000000;
		opacity: 0.7;
		content: "";
	}
	&:after {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: url(../images/hero-bg-layer.png);
		content: "";
	}
	& > * {
		position: relative;
		z-index: 2;
	}
}
.container {
	text-align: center;
}
.search-title {
	text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
	font-size: 30px;
	margin-bottom: 32px;
}
.search-category {
	display: inline-block;
	font-size: 18px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 30px;
	box-sizing: border-box;
	padding: 0 20px;
	text-align: left;
	line-height: 50px;
}
.search-category__city, 
.search-category__type {
	width: 25%;
	background-color: rgba(255, 255, 255, 0.1);
}

.city, 
.type {
	display: none;
}
.city__selected, 
.type__selected {
	display: block;
	&:after {
		content: "\f078";
		font-family: 'IcoMoon';
		font-size: 14px;
		float: right;
	}
}


.search-input {
	width: 50%;
	display: block;
	margin: 21px auto 28px;
	background-color: rgba(255, 255, 255, 0.1);
	&::placeholder {
		color: $white;
	}
}