// Location

.location
{
    font: $base-font;

    // width: 25%;
}

.price
{
    font-size: 13px;

    position: absolute;
    top: 8px;
    right: 7px;

    padding: 6px 12px 3px;

    color: $white;
    background-color: $green;
    @include desktop {
        font-size: 12px;
    }
}

.location__post-img
{
    padding-top: 67%;
}

.location__panel
{
    padding: 32px 15px 7px;
}

.location__title
{
    font-size: 16px;

    overflow: hidden;

    min-height: 38px;
    margin-bottom: 11px;

    color: $font;
    @include desktop {
        font-size: 14px;
    }
}
.location__host
{
    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;
    @include desktop {
        font-size: 12px;
    }
}



.rating-votes
{
    color: $font;
}