.navbar
{
    padding: 6px 0;

    border-bottom: 1px solid $grey-lighter;
    .container
    {
        font-size: 0;
    }
    &--open {
        padding-bottom: 0;
        .navbar__location,
        .navbar__filter {
            display: block;
            margin-bottom: 6px;
            @include tablet {
                display: inline-block;
                width: 50%;
            }
        }
    }
}
.navbar__popular,
.navbar__location,
.navbar__filter
{
    font-size: 13px;

    // width: 100%;

    vertical-align: middle;
    @include desktop {
        width: 33.33%;
        margin-bottom: 0;
        font-size: 12px;
    }
}
.navbar__popular
{
    display: block;
    text-align: left;
    margin-left: 2%;
    @include desktop {
        margin-left: 0;
        display: inline-block;
    }
}
.popular__category
{
    font-weight: bold;

    display: inline-block;

    margin-right: 7px;
    line-height: 45px;
    padding-top: 3px;
    @include mobile-small {
        display: block;
    }
    @include desktop {
        margin-right: 17px;
    }
}
.popular__category--selected a
{
    color: $brand-primary;
}
.navbar__location
{
    text-align: center;
    display: none;
    @include desktop {
        display: inline-block;
    }
    & > *
    {
        font-size: 12px;
        font-weight: bold;

        display: inline-block;

        padding: 10px 16px;

        text-transform: uppercase;

        color: $font-light;
        border: 1px solid $grey-dark;
    }
}

.select__city
{
    display: none;
    text-align: left;
    min-width: 92px;
    
}
.select__city--selected
{
    display: block;

    color: $brand-primary;
    &:after
    {
        font-family: 'IcoMoon';
        font-size: 12px;

        float: right;

        content: '\f078';

        color: $font-light;
    }
}

.select--open .select__city--selected:after {
    content: '\e907';
    margin-top: -3px;
}

.button--map
{
    &:before
    {
        font-family: 'IcoMoon';
        font-size: 14px;

        float: right;

        margin-left: 15px;

        content: '\f041';
    }
}
.navbar__filter
{   
    text-align: center;
    display: none;
    @include desktop {
       text-align: right;
       display: inline-block;
    }
    ul, li
    {
        display: inline-block;

        vertical-align: middle;
        text-align: center;
    }
}
.filter__title
{
    font-size: 12px;
    display: inline-block;

    text-transform: uppercase;

    color: $font-light;
}
.filter__item
{
    display: inline-block;
    
    border-radius: 50%;

    width: 40px;
    height: 40px;
    margin-left: 6px;
    transition: all 0.3s;
    &:before
    {
        font-size: 20px;
        line-height: 40px;

        color: $white;
    }
    &:hover {
        transform: scale(1.05);
    }
}
.navbar__button {
    position: absolute;
    right: 2%;
    top: 4px;
    width: 36px;
    height: 36px;
    border: 2px solid $grey-dark;
    font-size: 18px;
    line-height: 36px;
    color: $grey-dark;
    @include desktop {
        display: none;
    }
}