// Review

.review
{
    // width: 46%;
}

.review__post-img
{
    padding-top: 26.5%;

    background-image: url('../images/review-bg-2.png');
}
.review__title-group
{
    position: absolute;
    bottom: 2px;
    left: 97px;
    & > *
    {
        display: inline-block;

        margin-right: 5px;

        color: $white;
    }
}
.review__host
{
    font-size: 18px;
    text-transform: uppercase;
}

.review__rating
{
    display: inline-block;
}
.rating-votes
{
    font-size: 12px;
}
.review__panel
{
    position: relative;

    padding: 15px 17px 17px 98px;
}
.user-img
{
    position: absolute;
    top: 47px;
    left: 19px;

    width: 60px;
    height: 60px;

    border-radius: 50%;
    background-image: url('../images/user-img.png');
    background-position: 50%;
    background-size: cover;
}


.review__user-rating
{
    display: block;

    text-align: left;
    & > *
    {
        font-size: 18px;
    }
}
.user-name
{
    font-size: 18px;

    margin-top: 13px;
    margin-bottom: 1px;

    text-align: left;

    color: $grey-darker;
}
.user-comment,
a.user-comment__more
{
    font: $base-font;

    text-align: justify;

    color: $grey-darker;
}
