.search
{
    position: relative;

    padding: 51px 0 40px;

    color: $white;
    background-image: url('../images/hero-bg.png');
    background-position: 50%;
    background-size: cover;
    &:before
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';

        opacity: .7;
        background-color: #000;
    }
    &:after
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';

        background-image: url(../images/hero-bg-layer.png);
    }
    & > *
    {
        z-index: 2;
    }
}
.container
{
    text-align: center;
}
.search__title
{
    font-size: 30px;

    margin-bottom: 24px;

    text-shadow: 0 1px 1px rgba(0, 0, 1, .15);
}
.search-group {
    position: relative;
    padding-top: 148px;
    @include tablet {
        padding-top: 74px;
    }
}
.search__category
{
    width: 96%;
    top: 0;
    @include tablet {
        width: 46%;
        top: 0;
    }
    @include desktop {
        width: 22.5%;
    }
    
}
.search__category--city
{
    left: 2%;
    @include tablet {
        left: 2%;
    }
    @include desktop {
        left: 26%;
    }
}
.search__category--type
{
    right: 2%;
    top: 74px;
    @include tablet {
        right: 2%;
        top: 0;
    }
    @include desktop {
        right: 26%;
    }
}
.city,
.type
{
    display: none;
}
.city--selected,
.type--selected
{
    display: block;
    &:after
    {
        font-family: 'IcoMoon';
        font-size: 14px;

        float: right;

        content: '\f078';
    }
}

.search__input
{
    line-height: 55px;

    display: block;

    width: 96%;
    margin: 0 auto 28px;

    background-color: rgba(255, 255, 255, .1);
    @include tablet {
        width: 96%;
        margin: 0 auto 28px;
    }
    @include desktop {
        width: 48%;
    }
}
